
/* Layout */ 

body
{
    background: url(pics/backgroundimage2.jpeg) no-repeat;
}


section
{
    background-color: #ffffff;
    width: 960px;
    height: 900px;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px #000000;
    border-radius: 8px;
    
}




header
{
    width: 958px;
    height: 155px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border-bottom: solid 2px #000000;
    margin-top: 0px;
    background: url(pics/backgroundimage8.jpeg) no-repeat;
    
    
}


header2
{
    width: auto;
    height: 25px;
    background-color: #0095F4;
    border-bottom: solid 2px #000000;
    text-align: center;
    border-radius: 8px;
    margin-top: 0px;
}


header3
{
    width: auto;
    height: 25px;
    background-color: #0095F4;
    border-bottom: solid 2px #000000;
    text-align: center;
    border-radius: 8px;
    margin-top: -15px;
}




main
{
    height: 695px;
    background-color: #ffffff;
    margin-left: 205px;
    margin-top: 0px;
    padding: 8px;
    overflow: auto;
    border-left: solid 2px #000000;
}




nav 
{
    /*background-image: url('pics/sprite.png') no-repeat;*/
    width: 190px;
    height: 182px;
    background-color: #FFFFFF;
    border: solid 2px #000000;
    float: left;
    margin-top: 7px;
    margin-left: 6px;
    border-radius: 8px;
    
}


nav a:link { text-decoration: none; color: #000000; font-family: verdana; font-size: 16px;}
nav a:visited { text-decoration: none; color: #000000; font-family: verdana; font-size: 16px; }
nav a:active { text-decoration: none; color: #000000; font-family: verdana; font-size: 16px; }
nav li a:hover { text-decoration: none; color: #CCCCCC; font-family: verdana; font-size: 16px; background: #0095F4; }
 

nav li 
{
    list-style: none;
    margin: 8px;
}

nav a
{
    background-image: url('pics/sprite.png');
    background-repeat:no-repeat; 
    padding-left: 28px;
    padding-bottom: 5px;
}




footer
{
    background-color: #0095F4;
    width: auto;
    height: 30px;
    border-radius: 8px;
    border-top: solid 2px #000000;
    text-align: center;
    vertical-align: middle;
    margin-top: -36px;
    
}


footer2
{
    background-color: #0095F4;
    width: auto;
    height: 30px;
    border-radius: 8px;
    border-top: solid 2px #000000;
    text-align: center;
    vertical-align: middle;
    
}


footer3
{
    width: auto;
    height: 25px;
    background-color: #0095F4;
    border-top: solid 2px #000000;
    text-align: center;
    border-radius: 8px;
    margin-top: -157px;
}


quotes
{
    wid
    font-family: verdana;
    font-size: 12px;
    color: #333
    border: solid 1px #000;
    display: block;
    font-style: italic;
    
    
    
}



/* Typografi */


p 
{ 
    font-family: Verdana; font-size: 14px; color: #000000; 
    white-space: pre-line;
    padding-top: 5px;
}

h2
{
    font-family: Verdana; font-size: 18px; color: #000000; text-decoration: bold; text-decoration: underline;  
}

h3
{
   font-family: Verdana; font-size: 15px; color: #000000; text-decoration: bold; text-decoration: underline;   
}


h4
{
   font-family: Verdana; font-size: 25px; color: #000000; text-decoration: bold;
   text-align: center; 
   margin-top: 0;
   padding-top: 30px;
}




h5
{
   font-family: Verdana; font-size: 15px; color: #5D5F60; text-decoration: bold;  

    
}


ol
{
    font-family: Verdana; font-size: 14px; color: #000000;
    
}

ul
{
font-family: Verdana; font-size: 14px; color: #000000;  

}

a:link { text-decoration: underline; color: #000000; font-family: verdana; font-size: 14px;}
a:visited { text-decoration: none; color: #000000; font-family: verdana; font-size: 14px; }
a:active { text-decoration: none; color: #000000; font-family: verdana; font-size: 14px; }
a:hover { text-decoration: none; color: #CCCCCC; font-family: verdana; font-size: 14px; }





thead
{
    background-color: #0095F4;
     color: #000000; font-family: verdana; font-size: 15px;
}

tfoot
{
    background-color: #0095F4;
     color: #000000; font-family: verdana; font-size: 15px;
}

table {
  border-collapse: collapse;
  
}


.active
{
    text-decoration: none; color: #FFFFFF; font-family: verdana; font-size: 16px; background: #FFA800 
}

.right
{
    float: right;
    
}


.left
{
    float: left;
    
}


/* Sprites */

nav li a.index 
{
    background-position: 0 -49px;

    
}

nav li a:hover.index 
{
    background: url('pics/sprite.png') no-repeat 0 -1px;
	width: 24px;
	height: 22px
    
}


nav li a.laborationer
{
    background: url('pics/sprite.png') no-repeat 0 -145px;
	width: 24px;
	height: 22px;
    
}

nav li a:hover.laborationer 
{
    background: url('pics/sprite.png') no-repeat 0 -97px;
	width: 24px;
	height: 22px;
    
}


nav li a.presentation
{
    background: url(pics/sprite.png) no-repeat -1px -240px;
	width: 22px;
	height: 24px;
    text-indent: 20px;   
}

nav li a:hover.presentation 
{
    background: url('pics/sprite.png') no-repeat -1px -192px;
	width: 22px;
	height: 24px;
    
}


nav li a.kontakt
{
    background: url('pics/sprite.png') no-repeat 0 -336px;
	width: 24px;
	height: 24px;
    
}

nav li a:hover.kontakt 
{
    background: url('pics/sprite.png') no-repeat 0 -288px;
	width: 24px;
	height: 24px;
    
}


/* Kontaktformulär */

fieldset {
  padding: 5px;
  font-family: verdana;
  font-size: 14px;
  width: 450px;
  border: solid 1px #000000;
  }
  
label {
  float: left;
  width: 70px;
  margin-right: 15px;
  font-weight: bold;
  font-family: verdana;
  font-size: 14px;
  color: #000000;
  text-align: right;
  
  }
  
  textarea
  {
      width: 300px;
      height: 110px;
      resize: none;
      font-family: verdana;
      font-size: 12px;
      color: #000000;
  }
  
  input:invalid {
  background: #ffffff;
}

input:valid {
  background: #ffffff;
}